<section class="banner">
    <div class="banner__imagen">
        <div class="banner__descripcion">
            <h2 class="banner__titulo">nuevos ingresos</h2>
            <p class="banner__texto">Descubrí el próximo Funko Pop de tu colección</p>
            <a href="/shop"><button class="banner__boton">shop</button></a>
        </div>
    </div>
</section>
<section class="colecciones">
    <div class="coleccion">
        <img src="./multimedia/star-wars/baby-yoda-1.webp" alt="bebe yoda" class="coleccion__imagen">
        <div class="coleccion__descripcion">
            <h2 class="descripcion__titulo">star wars &<br>the mandalorian</h2>
            <p class="descripcion__texto">Disfruta de una saga que sigue agregando personajes a su colección.</p>
            <hr class="descripcion__linea">
            <button class="descripcion__boton">ver colección</button>
        </div>
    </div>
    <div class="coleccion coleccion--reverse">
        <img src="./multimedia/pokemon/vulpix-1.webp" alt="vulpix" class="coleccion__imagen">
        <div class="coleccion__descripcion">
            <h2 class="descripcion__titulo">pokemon indigo</h2>
            <p class="descripcion__texto">Atrapa todos los que puedas y disfruta de una colección llena de amigos.</p>
            <hr class="descripcion__linea">
            <button class="descripcion__boton">ver colección</button>
        </div>
    </div>
    <div class="coleccion">
        <img src="./multimedia/harry-potter/snape-patronus-1.webp" alt="" class="coleccion__imagen">
        <div class="coleccion__descripcion">
            <h2 class="descripcion__titulo">harry potter</h2>
            <p class="descripcion__texto">Revive los recuerdos de una saga llena de magia y encanto.</p>
            <hr class="descripcion__linea">
            <button class="descripcion__boton">ver colección</button>
        </div>
    </div>
</section>

<%- include('./partials/carrousel') %>