<div class="novedades__card">
    <p class="card__etiqueta">nuevo</p>
    <img src="./multimedia/harry-potter/luna-1.webp" alt="luna" class="card__imagen">
    <div class="card__descripcion">
        <p class="card__coleccion">harry potter</p>
        <h4 class="card__item">LUNA LOVEGOOD LION MASK</h4>
        <p class="card__precio">$ 1799,99.-</p>
        <p class="card__pago">3 cuotas sin interés</p>
    </div>
</div>