<section class="item">
    <img class="item__imagen" src="../../multimedia/star-wars/baby-yoda-1.webp" alt="bebe yoda">
    <div class="item__descripcion">
        <h3 class="descripcion__coleccion">star wars</h3>
        <h2 class="descripcion__titulo">baby yoda blueball</h2>
        <p class="descripcion__texto">Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga, edición limitada.</p>
        <p class="descripcion__precio">$1799,99.-</p>
        <div class="carrito">
            <button class="carrito__boton">-</button>
            <input class="carrito__cantidad" type="text" placeholder="0">
            <button class="carrito__boton">+</button>
            <button class="carrito__comprar">Agregar al Carrito</button>
        </div>
        <p class="pagos__texto"><a class="pagos__link" href="#">Ver métodos de pagos</a> - 3 cuotas sin interés</p>
    </div>
</section>

<%-include('../partials/carrousel')%>