<div class="contenedor">
    <h2 class="titulo">Iniciar sesión</h2>
    <form class="formulario" action="" method="">
        <fielset class="bloque">
            <label class="form__label" for="">Email:</label>
            <input class="form__input input__margin--bottom" type="email">
        </fielset>
        <fielset class="bloque">
            <label class="form__label" for="">Contraseña:</label>
            <input class="form__input input__margin--bottom" type="password">
        </fielset>
        <fielset class="bloque">
            <button class="form__button">ingresar:</button>
            <label class="form__label" for="">Recordarme:</label>
            <input type="checkbox" name="" id="">
        </fielset>
        <a class="form__label" href="#">Olvidé mi Contraseña</a>
    </form>
</div>