<div class="contenedor">
    <h2 class="titulo">Registrar cuenta</h2>
    <h3>Completa el formulario para ser parte del mundo de los Funkos</h3>
    <form class="formulario" action="" method="">
        <fielset class="bloque">
            <label class="form__label" for="">Nombre:</label>
            <input class="form__input input__margin--bottom" type="text">
        </fielset>
        <fielset class="bloque">
            <label class="form__label" for="">Apellido</label>
            <input class="form__input input__margin--bottom" type="text">
        </fielset>
        <fielset class="bloque">
            <label class="form__label" for="">Email:</label>
            <input class="form__input input__margin--bottom" type="email">
        </fielset>
        <fielset class="bloque">
            <label class="form__label" for="">Contraseña:</label>
            <input class="form__input input__margin--bottom" type="password">
        </fielset>
        <fielset class="bloque">
            <label class="form__label" for="">Repita contraseña:</label>
            <input class="form__input input__margin--bottom" type="password">
        </fielset>
        <fielset class="bloque" class="bloque">
            <button class="form__button">Registrar</button>
            <input type="checkbox" name="" id="">
            <label class="form__label" for="">acepto <a href="#">términos</a> y <a href="#">condiciones</a></label>
        </fielset>
    </form>
</div>