<div class="contenedor">
    <h2 class="titulo">Registrar cuenta</h2>
    <form class="formulario" action="">
        <label class="form__label" for="">nombre:</label>
        <input class="form__input" type="text">
        <label class="form__label" for="">apellido</label>
        <input class="form__input" type="text">
        <label class="form__label" for="">email:</label>
        <input class="form__input" type="email">
        <label class="form__label" for="">contraseña</label>
        <input class="form__input" type="password">
        <label class="form__label" for="">repita contraseña</label>
        <input class="form__input" type="password">
        <button class="form__button">registrar</button>
        <fielset class="bloque">
            <input class="form__input" type="checkbox" name="" id="">
            <label class="form__label" for="">acepto <a href="#">terminos</a> y <a href="#">condiciones</a></label>
        </fielset>
    </form>
</div>