<div class="busqueda">
    <img  class="busqueda__icono" src="../../multimedia/icons/search_icon.svg" alt="lupa">
    <input class="busqueda__input" type="search" name="" id="" placeholder="código, nombre o categoria">
</div>

<section class="listado">
    <div class="listado__encabezado">
        <h2 class="listado__titulo">listado de productos</h2>
        <form class="listado__agregar" action="">
            <label class="listado__label" for="">agregar</label>
            <button class="listado__boton" type="submit">+</button>
        </form>
    </div>

    <table class="tabla">
        <tr class="tabla__row">
            <th class="tabla__cabecera">ID</th>
            <th class="tabla__cabecera">codigo</th>
            <th class="tabla__cabecera">nombre del producto</th>
            <th class="tabla__cabecera">categoria</th>
            <th class="tabla__cabecera" class="editar"></th>
            <th class="tabla__cabecera" class="eliminar"></th>
        </tr>
        <tr class="tabla__row">
            <td class="tabla__datos"></td>
            <td class="tabla__datos"></td>
            <td class="tabla__datos"></td>
            <td class="tabla__datos"></td>
            <td class="tabla__datos"><img src="../../multimedia/icons/edit_pencil.svg" alt=""></td>
            <td class="tabla__datos"><img src="../../multimedia/icons/delete_trash.svg" alt=""></td>
        </tr>
    </table>
</section>